<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>

      <% @likes.each do |like| %>
      <tr>
        <td><%= like.caption %></td>
        <td><img src="<%= like.image %>" class="img-responsive" alt="Responsive image"></td>
        <td>
          <a href="/photos/<%= like.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= like.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= like.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
