<div class="page-header">
  <h1>
    <%=@user.username%>
  </h1>
</div>

<% @userposts.each do |userpost| %>
      <div class="panel panel-default">
        <div class="panel-heading">
  <%= userpost.caption %>  <%=userpost.user.username  %>  <%= time_ago_in_words(userpost.updated_at) %> ago
  </div>
  </div>

  <div class="panel-body">
        <img src="<%= userpost.image %>" class="img-responsive" alt="Responsive image">
        <% if Like.where(:user_id=> current_user.id, :photo_id=> userpost.id).exists?%>
        <a href="/delete_like/<%=Like.find_by({:user_id=> current_user.id, :photo_id=> userpost.id}).id%>" class="btn btn-link">
        <i class="fa fa-heart"></i>
        </a>
        <%else  %>
       <form action="/user/create_like" method="post">
       <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
       <input type="hidden" name="photo_id" value="<%=userpost.id  %>">
       <input type="hidden" name="user_id" value="<%= current_user.id %>">
       <button class="btn btn-link">
       <i class="fa fa-heart-o"></i>
       </button>
       </form>
       <%end  %>

         <% @userpostcomments=userpost.comments.all  %>
           <% @userpostcomments.each do |userpostcomment| %>
           <li class="media">
                       <div class="media-body">
                         <h6 class="media-heading">
                           <a href="/users/<%= userpostcomment.user.id %>">
                           <%= userpostcomment.user.username %>
                         </a>
                           <small>
                              <%= time_ago_in_words(userpostcomment.updated_at) %> ago
                           </small>
                  </h6>
                  <%= userpostcomment.body %>
                </div>
                         </li>
       <%end  %>






       <form action="/create_comment" method="post">
         <input type="hidden" name="photo_id" value="<%=userpost.id  %>">
         <input type="hidden" name="user_id" value="<%= current_user.id %>">
         <div class="form-group">
         <label for="body" class="sr-only">
         Body
         </label>

          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
         <div class="input-group">
         <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

         <span class="input-group-btn">
         <button class="btn btn-default" type="submit">
         <i class="fa fa-commenting-o"></i>
         </button>
         </span>
         </div>
       </form>
        </div>
      <% end %>
