<div class="page-header">
  <a href="/photos/new" class="btn btn-default btn-block"><i class="fa fa-plus"></i></a>
</div>


  <% @photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
<%=photo.user.username  %>  <%= time_ago_in_words(photo.updated_at) %> ago
</div>
</div>
<div class="panel-body">
  <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">


 <% if Like.where(:user_id=> current_user.id, :photo_id=> photo.id).exists?%>
 <a href="/delete_like/<%=Like.find_by({:user_id=> current_user.id, :photo_id=> photo.id}).id%>" class="btn btn-link">
 <i class="fa fa-heart"></i>
 </a>

<% if Like.where(:photo_id=> photo.id).exists?%>
<%if photo.fans.pluck(:username).count==1  %>
<small><%=photo.fans.pluck(:username).to_sentence%> likes this</small>
<%else  %>
<small><%=photo.fans.pluck(:username).to_sentence%> like this</small>
<%end  %>
<%else  %>
<small>be the first to like this</small>
<%end%>

 <%else  %>
<form action="/create_like" method="post">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
<input type="hidden" name="photo_id" value="<%=photo.id  %>">
<input type="hidden" name="user_id" value="<%= current_user.id %>">
<button class="btn btn-link">
<i class="fa fa-heart-o"></i>
</button>

<% if Like.where(:photo_id=> photo.id).exists?%>
<%if photo.fans.pluck(:username).count==1  %>
<small><%=photo.fans.pluck(:username).to_sentence%> likes this</small>
<%else  %>
<small><%=photo.fans.pluck(:username).to_sentence%> like this</small>
<%end  %>
<%else  %>
<small>be the first to like this</small>
<%end%>



</form>
<%end  %>

  <% @photocomments=photo.comments.all  %>
    <% @photocomments.each do |photocomment| %>
    <li class="media">
                <div class="media-body">
                  <h6 class="media-heading">
                    <a href="/users/<%= photocomment.user.id %>">
                    <%= photocomment.user.username %>
                  </a>
                    <small>
                       <%= time_ago_in_words(photocomment.updated_at) %> ago
                    </small>
           </h6>
           <%= photocomment.body %>
         </div>
                  </li>
<%end  %>






<form action="/create_comment" method="post">
  <input type="hidden" name="photo_id" value="<%=photo.id  %>">
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <div class="form-group">
  <label for="body" class="sr-only">
  Body
  </label>

   <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <div class="input-group">
  <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

  <span class="input-group-btn">
  <button class="btn btn-default" type="button">
  <i class="fa fa-commenting-o"></i>
  </button>
  </span>
  </div>
</form>


  <div><a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
    <% if current_user.id==photo.user_id %>
  <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
  <%else  %>
  <%end  %>
  <% if current_user.id==photo.user_id %>
  <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
  <%else  %>
  <%end  %>
</div>
</div>
<%end%>
